@import "styles2.css" projection;
body {
    background: black;
    color: navajowhite;
    font-family: 'VT323', monospace;
}
.my-class {
    background: red;
}
.some-other-class {
    background: yellow;
    color: black;
}
